.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .transition-transform {
    transition: transform 0.5s ease-in-out;
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  
  .-translate-x-full {
    transform: translateX(-100%);
  }
  
  .translate-x-0 {
    transform: translateX(0);
  }
  